/* Déclaration de la font, importée depuis ggl fonts */
@font-face {
    font-family: "IM FELL Great Primer SC";
    src: url("fonts/IMFellGreatPrimerSC-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: black;
    margin: 0;
    font-family: "IM FELL Great Primer SC";
}

html, body {
    overflow: hidden; /* On veut pas de scroll */
}

/* menu haut */
.top-banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(180, 123, 0, 0.5);
    padding: 10px 30px;
    position: relative;
    height: 100px;
}

.left-content {
    display: flex;
    align-items: center;
}

.logo {
    height: 60px;
    margin-right: 20px;
}

.title h1 {
    font-size: 40px;
    margin: 0;
    color: white;
}

.title h2 {
    font-size: 20px;
    margin: 0;
    color: white;
}

.right-content button {
    background-color: #b47b00;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
}

.right-content button:hover {
    background: rgba(180, 123, 0, 0.5);
}

/* Page principale */
.main-content {
    display: flex;
    height: calc(100vh - 100px); /* Exclut le bandeau */
    justify-content: center;
    align-items: center;
    padding: 50px;
    width: 100%;
}

.profile-container {
    display: flex;
    align-items: center;
    background: rgba(255, 255, 255, 0.1);
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
    width: 90%;
    max-width: 1000px;
}

.profile-img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: 5px solid #b38307;
    margin-right: 30px; /* espace ajouté à droite de l'image */
    object-fit: cover; /* Assure que l'image reste bien dans un cercle */
}

.profile-info {
    font-size: 22px;
    text-align: left;
    width: 60%; /* La largeur de la biographie */
    color: #ffffff;
}

.bio {
    margin-top: 20px;
    font-size: 16px;
    color: #ddd;
    line-height: 1.6;
}

.stats {
    margin-top: 20px;
    font-size: 20px;
    color: #f1c40f;
}

.buttons-container {
    margin-top: 30px;
    display: flex;
    gap: 20px;
}

.profile-button {
    background-color: #b38307;
    color: white;
    border: none;
    padding: 12px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
}
