/* menu haut */
.top-banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(180, 123, 0, 0.5);
    padding: 10px 30px;
    position: relative;
    height: 100px;
}

.left-content {
    display: flex;
    align-items: center;
}

.logo {
    height: 60px;
    margin-right: 20px;
}

.title h1 {
    font-size: 40px;
    margin: 0;
    color: white;
}

.title h2 {
    font-size: 20px;
    margin: 0;
    color: white;
}

.right-content button {
    background-color: #b47b00;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
}

.right-content button:hover {
    background: rgba(180, 123, 0, 0.5);
}

/* Page principale */
.main-content {
    display: flex;
    height: calc(100vh - 100px); /* Exclut le bandeau */
}

.main-content section {
    flex: 1;
    padding: 20px;
    box-sizing: border-box;
    overflow-y: auto;
}

.stats, .friends {
    background-color: #1f1f1f; /* Gris très foncé */
    color: white;
}

.news {
    background-color: #2c2c2c; /* Gris plus clair */
    color: white;
}

h3 {
    font-size: 30px;
    color: white;
    margin-bottom: 20px;
    text-align: center;
}

.logout-btn {
    margin-left: 10px;
    padding: 8px 14px;
    background-color: #e74c3c;
    border: none;
    border-radius: 6px;
    color: white;
    font-weight: bold;
    cursor: pointer;
  }
  
  .logout-btn:hover {
    background-color: #c0392b;
  }
  