/* Déclaration de la font, importée depuis ggl fonts*/
@font-face {
    font-family: "IM FELL Great Primer SC";
    src: url("../fonts/IMFellGreatPrimerSC-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: black;
    margin: 0;
    font-family: "IM FELL Great Primer SC";
}

html, body {
    overflow: hidden; /* On veut pas de scroll */
}

body::after {
    content: none;
}