<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../style/accueil.css">
    <title>Accueil</title>
</head>
<body>
    <!-- Bandeau en haut -->
    <header>
        <div class="top-banner">
            <div class="left-content">
                <img src="../img/beermug.png" alt="Logo des bières" class="logo">
                <div class="title">
                    <h1>Get The Beer</h1>
                    <h2>Le jeu des alcolos</h2>
                </div>
            </div>
            <div class="right-content">
                <button class="account-btn">Mon compte</button>
                <button class="play-btn">Jouer</button>
            </div>
        </div>
    </header>
    <!-- page principle -->
    <main class="main-content">
        <section class="stats">
            <h3>Mes stats</h3>
            <!-- Contenu des stats -->
        </section>
        <section class="news">
            <h3>Actualités</h3>
            <!-- Contenu des actualités -->
        </section>
        <section class="friends">
            <h3>Mes amis</h3>
            <!-- Contenu des amis -->
        </section>
    </main>
</body>
</html>
